* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #10141a;
    color: white;
}

.login-box {
    width: 360px;
    margin: 120px auto;
    padding: 30px;
    background: #1b222c;
    border-radius: 15px;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 8px;
}

.login-box p {
    margin-bottom: 20px;
    color: #aaa;
}

input,
select {
    width: 100%;
    padding: 13px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #444;
    background: #111;
    color: white;
}

button {
    padding: 11px 18px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background: #1976d2;
    color: white;
    font-weight: bold;
}

.login-box button {
    width: 100%;
    margin-top: 10px;
}

.dashboard {
    max-width: 1100px;
    margin: auto;
    padding: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.card {
    background: #1b222c;
    padding: 25px;
    border-radius: 12px;
}

.card strong {
    display: block;
    font-size: 30px;
    margin-top: 10px;
}

.generate {
    background: #1b222c;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.generate select {
    width: 200px;
}

#generatedKey {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1b222c;
}

th,
td {
    padding: 14px;
    border-bottom: 1px solid #333;
    text-align: left;
}

@media(max-width:700px) {

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .dashboard {
        padding: 15px;
    }

    table {
        font-size: 12px;
    }

}

